<div class="container">
    <h5 class="title">Lista książek</h5>
    <div class="input-group mb-3">
        <button
            class="btn btn-outline-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
            {{action}}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <span
                    class="dropdown-item"
                    (click)="changeSearch('Tytuł książki')"
                >
                    Tytuł książki
                </span>
            </li>
            <li>
                <span
                    class="dropdown-item"
                    (click)="changeSearch('Autor książki')"
                >
                    Autor książki
                </span>
            </li>
        </ul>
        <input
            type="text"
            class="form-control"
            placeholder="wpisz treść do wyszukania"
            aria-label="todo"
            aria-describedby="todo"
            [(ngModel)]="inputText"
        >
        <button
            class="btn btn-outline-primary btn-sm"
            type="button"
            id="todo"
            (click)="find()"
        >
            Wyszukaj
        </button>
    </div>
    @if (isLoading$ | async) {
        <p>Wczytuję ...</p>
    }@else {
        <div class="d-flex justify-content-center flex-row flex-wrap">
            @for (book of books$ |async; track book.id) {
                <div class="card m-2" style="width: 18rem;">
                        <img [src]="book.volumeInfo.imageLinks?.thumbnail" class="card-img-top img-thumbnail" alt="Brak miniaturki">
                        <div class="card-body  d-flex flex-column">
                            <h5 class="card-title">{{book.volumeInfo.title}}</h5>
                            @for (author of book.volumeInfo.authors; track $index) {
                                <p class="card-text">{{author}}</p>                        }
                            <button class="btn btn-primary mt-auto">Dodaj do ulubionej</button>
                        </div>
                </div>
            }@empty {
                <p>Brak książek</p>
            }
        </div>
    }
</div>
