<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
        >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/todo"
                    >
                        Lista zadań
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/books"
                    >
                        Lista książek
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/collection"
                    >
                        Ulubione książki
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
