<div class="container">

    <h5 class="title">Lista zadań</h5>
    <div class="input-group mb-3">
        <input
            type="text"
            class="form-control"
            placeholder="wpisz zadanie do zrobienia"
            aria-label="todo"
            aria-describedby="todo"
            [(ngModel)]="todo"
        >
        <button
            class="btn btn-outline-primary btn-sm"
            type="button"
            id="todo"
        >
            Dodaj
        </button>
    </div>

</div>
